/* CSS Variables */
:root {
	--cloud1: #fdd5b2; /* light orange */
	--cloud2: #f9bca4;
	--cloud3: #f3a597;
	--cloud4: #ed9590;
	--cloud5: #d68296;
	--cloud6: #b46da9; /* dusky purple */
	--dark1: #3d409c; 
	--dark2: #7157c9; /* dark purple */
	--sky1: #7d6aeb; /* light purple */
	--sky2: #f7b2ed; /* lighter */
}

body {

	background-image: linear-gradient(var(--sky1), var(--sky2)); /* fallback */
	background-image: url("../images/cloudBig.png"), linear-gradient(var(--sky1), var(--sky2));
	background-repeat: no-repeat;
	background-position-x: center;
}

/*nav {
	background-color: #7d6aeb;
}*/

#mainHeading {
	margin-left: 150px;
	padding: 210px 0px 130px 70px;
	background-position: 50px;
	color: white;
	text-shadow: 2px 2px var(--sky1);
}

#information .card {
/*	color: var(--dark2);*/
	background-image: linear-gradient(var(--cloud1), var(--cloud2));
/*	margin: 5px 0px;*/
	border: 2px solid var(--cloud3);
}

#information h3 {
	color: var(--dark1);
	text-shadow: 1px 1px white;
}

#information .accordion-button{
	color: white;
	background-color: var(--cloud3);
}

#information .accordion-collapse {
	color: white;
	background-color: var(--cloud5);
}

#affirmations {
	padding: 5px 20px;
}

.affirmation {	
	padding: 70px 110px;
/*	margin: 10px;*/
/*	background-color: var(--cloud4);*/
	background-image: url("../images/cloudSmall.png");
	background-repeat: no-repeat;
	background-position-x: center;
/*	border: 2px solid black;*/
}

.affirmation p {
	margin-top: 15px;
	margin-bottom: 0px;
	color: white;
	background-color: #7157c980;
}

#resources .col {
	margin: 20px 40px;
}

#resources .card {
	background-image: linear-gradient(var(--cloud1), var(--cloud2));
}

#resources .btn {
	color: white;
	background-color: var(--cloud6);
}

footer {
	background-image: linear-gradient(var(--dark1), var(--dark2));
	color: white;
	padding: 10px;
}

.alignRight {
	text-align: right;
}