body {

	background-image: linear-gradient(#7d6aeb, #f7b2ed); /* fallback */
	background-image: url("../images/cloudBig.png"), linear-gradient(#7d6aeb, #f7b2ed);
	background-repeat: no-repeat;
	background-position-x: center;
}

/*nav {
	background-color: #7d6aeb;
}*/

#mainHeading {
	margin-left: 150px;
	padding: 210px 0px 130px 70px;
	background-position: 50px;
	color: white;
	text-shadow: 2px 2px #7d6aeb;
}

#information .card {
	background-color: #ff739a;
	margin: 5px 0px;
}

#affirmations .row {
	margin: 10px;

}

.affirmation {	
	padding: 20px;
	margin: 20px;
	background-color: white;
}

#resources .col {
	margin: 5px 40px;
}

